<div class="cell" *ngIf="cell.action > 1" [ngClass]="{ 'ready-unpaid': cell.action == 2, 'ready-paid': cell.action == 3}">
  <ion-grid>
    <ion-row>
      <ion-col col-4 class="sml">
        <div class="cell-count">{{ ind + 1 }}</div>
        <div class="cell-date">{{ cell.created | amDateFormat: "LT" }}</div>
        <div class="identify">{{ cell.identifier }}</div>
      </ion-col>
      <ion-col col-8 class="bg">
        <span>READY FOR PICKUP</span>
        <div class="cell-count m-5" *ngIf="cell.action == 3">PAID </div>
        <div class="cell-count m-5" *ngIf="cell.action == 2">NOT PAID</div>
        <span>{{cell.phone || 2147348562 | pipesPhone}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
