<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title> {{business.name || "loading.."}} </ion-title>
    <ion-buttons end>
     <button ion-button (click)="details()"  ><ion-icon name="construct"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list style="padding-left:0px;padding-right:0px;margin-left:0px;margin-bottom:0px;padding-bottom:0px;">
  <cell-big *ngFor="let item of cells; let i = index" [ind]="i" [cell]="item"  [callBack]="_loadData.bind(this)" [businessId]="business.id"  ></cell-big>
</ion-list>
<div style="padding-left:15px;padding-right:15px;margin-top:15px;" >
<cell *ngFor="let item of cells; let i = index" [ind]="i" [cell]="item"  [callBack]="_loadData.bind(this)" [businessId]="business.id"  ></cell>
</div>
</ion-content>
<ion-footer  >
  <ion-toolbar >
    <div style="width:60%;display:inline-block;">
    <div class="footer-span" style="color:#488aff;" >
      [ {{ getReadyForPickup() }} ] READY FOR PICKUP
    </div>
    <div class="footer-span">
      [ {{ cells.length }} ] PARKED
    </div>
  </div>
    <button class="new-check" (click)="newCheckin()" ion-button style="float: right;"><b>+ NEW CHECKIN</b></button>
  </ion-toolbar>
</ion-footer>
