page-business {
    background-color:#333;

.footer-span{
  display: inline-block;
  padding-top: 10px;
  padding-left:15px;
  font-size: 0.8em;
  
}
  .toolbar{
   .new-check{
     background: #0084ff;
     padding: 0 12px;
     .button-inner{
       letter-spacing: 2px;
       font-weight: 200;
       font-size: 12px;
     }
   }
  }
}
