// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

$colors: (
        primary: #488aff,
        secondary: green,
        danger: red,
        light: #f4f4f4,
        dark: #222
);

@import '../../node_modules/ionic-angular/themes/ionic.globals';
@import '../../node_modules/ionic-angular/themes/ionic.theme.default';
@import '../../node_modules/ionic-angular/themes/ionic.ionicons';
@import '../../www/assets/fonts/roboto';
@import '../../www/assets/fonts/noto-sans';
