page-checkout {
  .bg{
    min-height:100%;
    padding-top:100px;
  }

  .cancel-check {
    color:#990000;
  }

  .bg .unpaid .scroll-content {
    background-color:  #a8352d;
  }

  .even {
    background-color:#999;color:#fff;
  }
  ._header {
    text-align:center;
    padding-top:5px;padding-bottom:5px;background-color:#222;color:#fff;
    font-weight:bold;
  }

  .bg.ready-unpaid {
    background-color: red;
  }

  .bg.ready-paid {
    background-color: #488aff;
  }

   
  ion-title{
    .toolbar-title{
      letter-spacing: 4px;
      color: #fff;
    }
  }
  .checkout{
    text-align: center;
    .cell-num{
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 8px;
      margin-bottom: 15px;
      display: block;
    }
    .cell-mobile{
      letter-spacing: 4px;
      font-size: 17px;
      margin-bottom: 15px;
      display: block;
    }
    .date {
      letter-spacing: 2px;
      font-size: 12px;
      display: block;
      margin-bottom: 15px;
    }
  }
  .check-btn{
    text-align: center;
    padding-top: 20px;
    .checkout{
      border-radius: 8px;
      padding: 6px 10px;
      width: 70%;
      display: block;
      margin: auto;
      height: 100px;
      background: #fff;
      .button-inner{
        font-size: 26px;
        letter-spacing: 6px;
        color: #488aff;
        font-weight: bold;
      }
    }
    .cancel{
      width: 35%;
      color:#fff;
 
      border-radius: 5px;
      height: 30px;
      margin-top: 50px;
      text-transform: lowercase;
      .button-inner{
        letter-spacing: 4px;
        font-size: 12px;
      }
    }
  }
  }

