page-businesses {
  .title {
    text-align: center;
    .toolbar-title {
      color: grey;
      letter-spacing: 4px;
    }
  }
  .clutch-bar {
    width: 100%;
    text-align: center;
    background: #488aff;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-top: 16px;
    color: #fff;
    margin-bottom: 8px;
    h3 {
      letter-spacing: 4px;
      font-weight: 100;
      font-size: 18px;
      margin-bottom: 4px;
    }
    span {
      letter-spacing: 2px;
      font-weight: 100;
      display: block;
      padding: 4px 0;
    }
  }
}
