page-client {
  
  .new-client{
    ion-input{
      border-bottom: 4px solid #999;
      .text-input{
        color:#fff;
        text-align: left;
        letter-spacing: 2px;
        margin: 12px 0;
        padding-left: 4px;
      }
      ::placeholder{
        color: #fff;
      }
    }
    .inputName{
      margin-bottom: 15px;
    }
    .placeCss{
      background: #999;
      border-radius: 4px;
      border: none;
      padding-left: 11px;
    }
    .err-filed{
      color: red;
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
    }
  }
  .footer{
    button{
      background: none;
      cursor: pointer;
    }
    button.activated{
      background: none;
    }
    .history-btn{
      float: left;
      padding-left: 25px;
      margin-left: 25px;
      letter-spacing: 4px;
    }
    .settings-btn{
      float: right;
      padding-right: 25px;
      margin-right: 25px;
      letter-spacing: 4px;
    }
  }
}
